* {
  box-sizing: border-box;
}

html.dark body{
  background-color: #121212;
  color: #fff;
}

.dark {
  background-color: #121212;
  color: #fff;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
